<div class="main">
  <div class="main-image">
    <img src="../../../assets/business.jpg" class="image">
  </div>
  <div class="main-form">
    <div class="main-data">
      <h1 class="bold-text">Log in</h1>
      <h3 class="color-title">If you don't have an account yet, please <a href="#" class="color-blue">register</a> first.</h3><br/><br/>
        <div>
          <input type="text" placeholder="Email" class="enter-form"><br/><br/>
          <input type="password" placeholder="Password" class="enter-form"><br/>
            <div class ="forgot-password">
              <a href="#">I forgot my password</a>
            </div><br/>
          <label for="remember">
              <input type="checkbox" name = "remember">Remember me
          </label><br/><br/><br/>
          <button  class="enter-form bold-text">Log in</button>
       </div>
    </div>
  </div>
</div>
