@import 'src/styles/variables';

.flex-blocks{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content {
  width:80%;
  padding: 20px;
  background: $page-background;
}

.sidebar{
  background: $sidebar-background;
  width: 20%;
  min-width: 175px;
}
