<div class="navigation">
    <div>
      <button class="color-violet"><i class="fas fa-plus"></i> ADD NEW FIELD</button>
    </div>
    
    <div>
        <button class="color-violet">SAVE</button>
    </div>
    <div>
        <button class ="color-green">SHARE</button>
    </div>
</div>
<div class="general-configs">
        <div >
            <label for="title" class="input-label">Title             
            </label><br/>
            <input type="text" placeholder="form name" name="title" class="enter-form">
        </div><br/>
        <div class="data">
            <label for="styles" class="input-label">CSS Styles                
            </label><br/>
            <textarea placeholder="styles for form" name="styles" class="enter-form"></textarea>
        </div>
</div>
