button{
    height: 45px;
    border-radius: 5px;
    color: white;
    border: white 1px solid;
    border-radius: 5px;
}
.color-violet{
    background:#9c68d9;
}
.color-green{
    background:#69AFB6;
}
.navigation{
    padding: 2px;
    background: white;
    width: 40%;
    display: flex;
    justify-content: space-between;

}
.general-configs{
    padding: 2px;
    background: white;
    width: 40%;
}
.enter-form{
    width: 100%;
    height: 45px;
    border: lightgray 1px solid;
    border-radius: 5px;
  }