<div class="content">
  <h2>Edit Profile</h2>
  <form [formGroup]="registerForm"
  (ngSubmit)="onSubmit()">
  <div>
    <label for="email" class="input-label">Email address
      <input type="text" placeholder="Email" name="email">
    </label>
  </div>

  <div class="flex-position">
    <div class="data">
      <label for="firstName" class="input-label">First name
        <input type="text"
        placeholder="Company"
        name="firstName">
      </label>
    </div>
    <div class="data">
      <label for="secondName" class="input-label">Last name
        <input type="text"
        placeholder="Last name"
        name="secondName">
      </label>
    </div>
  </div>


  <label for="address" class="input-label">Address
    <input type="text"
    placeholder="Home address"
    name="address">
  </label>

  <div class="flex-position">
    <div class="address">
      <label for="city" class="input-label">City
        <input type="text"
        placeholder="City"
        name="city">
      </label>
    </div>
    <div class="address">
      <label for="country" class="input-label">Country
        <input type="text"
        placeholder="Country"
        name="country">
      </label>
    </div>
    <div class="address">
      <label for="zipCode" class="input-label">Postal code
        <input type="text"
        placeholder="ZIP code"
        name="zipCode">
      </label>
    </div>
  </div>

  <label for="description" class="input-label">About me
    <input type="text"
    placeholder="Here can be your description"
    name="description">
  </label>
  <div class="update-button">
    <button class="bold-text">Update</button>
  </div>
  </form>
</div>
