
  <div class="content">
<h2>Edit Profile</h2>
<div>
  <label for="email" class="input-label">Email address<br/>
  <input type="text" placeholder="Email" name="email" >
  </label>
</div><br/><br/>

<div class="flex-position">
  <div class="data">
    <label for="firstName" class="input-label">First name<br/>
    <input type="text" placeholder="Company" name="firstName" >
    </label>
  </div>
  <div class="data">
    <label for="secondName" class="input-label">Last name<br/>
    <input type="text" placeholder="Last name" name="secondName">
    </label>
  </div>
</div><br/><br/>


<label for="address" class="input-label">Address<br/>
<input type="text" placeholder="Home address" name="address" >
</label><br/><br/>

<div class="flex-position">
  <div class="address">
    <label for="city" class="input-label">City<br/>
    <input type="text" placeholder="City" name="city" >
    </label>
  </div>
  <div class="address">
    <label for="country" class="input-label">Country<br/>
    <input type="text" placeholder="Country" name ="country" >
    </label>
   </div>
   <div class="address">
      <label for="zipCode" class="input-label">Postal code<br/>
      <input type="text" placeholder="ZIP code" name="zipCode">
      </label>
    </div>
</div><br/><br/>

<label for="description" class="input-label">About me<br/>
<input type="text" placeholder="Here can be your description" name="description" >
</label><br/><br/>
<div class="update-button">
<button  class="bold-text">Update</button>
</div>
</div>
