img{
  width: 30px;
}
header{
  display: flex;
  align-items: center;
  border: 2px solid whitesmoke;
}
.header-form{
  display: flex;
  background: rgb(134,75, 195);
  width: 20%;
}
.header-link{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}
h3{
  text-transform: uppercase;
  color: white;
  font-style: italic;
  font-weight: lighter;
}
h4, .header-link_logout{
  color: rgb(175,175,175);
}
.header-link_logout{
align-items: flex-end;
text-decoration: none;
}
@media only screen and (max-width:700px){
  .header-form{
    width: 50%;
  }
  .header-link{
    width: 50%;
  }
}

