.fa-list-alt{
  color: white;
margin: 3px 10px 3px 0;
}
header{
    display: flex;
    height: 60px;
    border-bottom: 1px solid $page-background;
}
.header-form{
  display: flex;
  background: rgb(134,75, 195);
  width: 20%;
  min-width: 175px;
  justify-content: center;
  align-items: center;
}
.header-link{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  padding: 2px 10px;
}
h3{
  text-transform: uppercase;
  color: white;
  font-style: italic;
  font-weight: lighter;
  font-family: serif;
  font-size: 18px;
}
h4{
  font-size: 20px;
}
h4, .header-link_logout{
  color: rgb(175,175,175);
}
.header-link_logout{
align-items: flex-end;
text-decoration: none;
}
@media only screen and (max-width:700px){
  .header-form{
    // width: 50%;
  }
  .header-link{
    width: 50%;
  }
}

