.top{
  color: rgb(116, 119,135);
  width: 100%;
}
h4{
  font-family:"system-ui";
  font-weight: bold;
}
button{
  border: 0;
  background: none;
}
i{
  position: absolute;
  left: 82%;
  top: 10px;
}
img{
  width: 25px;
}
input{
  border: 1px solid rgb(116, 119,135);
}
