<p>form-details works!</p>
<div>
  <table *ngIf='!showDetail' class="table table-hover">
      <thead>
        <tr class="table-primary">
          <th scope="col">Name</th>
          <th scope="col">Background</th>
          <th *ngIf='showDetail' scope="col">Fields</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="5" class="alert alert-danger" *ngIf="error$ | async as error">{{error}}</td>
        </tr>
        <tr *ngFor="let item of (forms$ |async)">
          <th  scope="row">{{item.name}}</th>
          <td >{{item.background}}</td>
          <th>
              <button (click)='showDetails(item)' class="btn btn-info">Details</button>
              <br>
              <button data-toggle="modal" data-target="#deleteForm" class="btn btn-danger" (click)='deleteForm(item)'>Delete</button>
          </th>
        </tr>
      </tbody>
    </table>
    <div *ngIf='showDetail'>
      <div *ngFor="let item of (forms$ |async)" class="form-detail">
        <div *ngIf='item.fields'>
            <h4>Name:{{item.name}}</h4>
            <p>Background:{{item.background}}</p>
        </div>
        <div *ngFor='let field of item.fields'>
            <hr>
            <h6>Field:</h6>
            <div>
                type:{{field.fieldType.type}}
            </div>
            <div>
                placeholder:{{field.placeholder}}
            </div>
           <div>
              pattern:{{field.pattern.name}}
           </div>
          </div>
          <div *ngIf='item.fields'>
              <button (click)='editForm(item)' class="btn btn-info">Edit</button>
              <button type="button" data-toggle="modal" data-target="#deleteForm"  class="btn btn-danger" (click)='deleteForm(item)'>Delete</button>
          </div>
      </div>

    </div>
<div class="edit-form" *ngIf='editForms'>
<form [formGroup]='formDetails' (ngSubmit)='updateForm(item)'>
  <div>
    <label>Name</label>
    <input class="form-control" type="text" formControlName='name'>
  </div>
  <div>
    <label>Background</label>
    <select class='form-control bg' formControlName='background'>
      <option>#FFFFFF</option>
      <option>#C0C0C0</option>
      <option>#808080</option>
      <option>#000000</option>
      <option>#FF0000</option>
      <option>#800000</option>
      <option>#FFFF00</option>
      <option>#808000</option>
      <option>#00FF00</option>
      <option>#008000</option>
      <option>#00FFFF</option>
      <option>#008080</option>
      <option>#0000FF</option>
      <option>#000080</option>
      <option>#FF00FF</option>
      <option>#800080</option>
    </select>
  </div>
  <div *ngIf='newField'>
   <h4>Add field</h4>
   <div>
      <p>Choose type</p>
  <div>
      <select class='form-control' formControlName="type">
          <option value="1">password</option>
          <option value="2">textarea</option>
          <option value="3">text</option>
          <option value="4">file</option>
          <option value="5">radio</option>
          <option value="6">checkbox</option>
          <option value="7">submit</option>
        </select>
  </div>
  <p>Enter placeholder</p>
  <input type="text" class='form-control' formControlName="placeholder">
   </div>
   <div>
     <p>Choose pattern</p>
<div>
    <select class='form-control' formControlName="pattern" [disabled]>
      <option></option>
        <option value='1'>url</option>
        <option value='2'>email</option>
        <option value='3'>ip_address</option>
      </select>
</div>
   </div>
  </div>
  <button *ngIf='!newField' (click)='addField()' class="btn btn-success">Add field</button>

  <button type="submit" [disabled]="formDetails.invalid" class="btn btn-primary">Edit form</button>
</form>
</div>
</div>

<div class="modal fade" id="deleteForm" tabindex="-1" role="dialog" aria-labelledby="deleteForm" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
          This form was deleted
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
