<div>
    <table class="table table-hover">
        <thead>
          <tr class="table-primary">
            <th scope="col">Name</th>
            <th scope="col">Id</th>
            <th scope="col">Background</th>
            <!-- <th scope="col">Fields</th> -->
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="5" class="alert alert-danger" *ngIf="error$ | async as error">{{error}}</td>
          </tr>
          <tr>
          <tr *ngFor="let item of (forms$ |async)">
            <th  scope="row">{{item.name}}</th>
            <td >{{item.id}}</td>
            <td >{{item.background}}</td>
            <!-- <td>{{item.fields}}</td> -->
            <th>
              <a (click)='editForm(item)'>edit</a>
              <br>
              <a (click)='deleteForm()'>delete</a>
            </th>
          </tr>
        </tbody>
      </table>

  <form [formGroup]='formDetails' (ngSubmit)='updateForm()'>
    <div>
      <label>Name</label>
      <input class="form-control" type="text" formControlName='name'>
    </div>
    <div>
      <label>background</label>
      <input class='form-control' type="text" formControlName='background'>
    </div>
    <div>
      <label>id</label>
      <input type="text" class="form-control" formControlName='id'>
    </div>
    <button type="submit" class="btn btn-primary">Edit form</button>
  </form>
</div>
