<div class="main">
  <div class="main-image">
    <img src="../../../assets/register.jpg" class="image">
  </div>
  <div class="main-form">
    <div class="main-data">
      <h2 class="bold-text">Register</h2>
      <h5 class="color-title">Please enter your name and e-mail here for the registration.</h5><br/><br/>
        <div>
          <form [formGroup]="registerForm"
          (ngSubmit)="onSubmit()">
              <ng-container *ngIf="registerForm.controls.firstName.touched">
                  <div class="text-danger" *ngIf="registerForm.controls.firstName.errors?.firstName">
                    First name is invalid
                  </div>
              </ng-container>
          <input type="text"
          placeholder="First name"
          formControlName="firstName"
          class="enter-form"><br/><br/>
          <ng-container *ngIf="registerForm.controls.lastName.touched">
              <div class="text-danger" *ngIf="registerForm.controls.lastName.errors?.lastName">
                Last name is invalid
              </div>
          </ng-container>
          <input type="text"
          placeholder="Last name"
          formControlName="lastName"
          class="enter-form"><br/><br/>
          <ng-container *ngIf="registerForm.controls.email.touched">
              <div class="text-danger"
              *ngIf="registerForm.controls.email.errors?.required">
                Email is required
              </div>
              <div class="text-danger" *ngIf="registerForm.controls.email.errors?.email">
                Email is invalid
              </div>
            </ng-container>
          <input type="text"
          placeholder="E-Mail"
          formControlName="email"
          class="enter-form"><br/><br/>
          <ng-container *ngIf="registerForm.controls.password.touched">
              <div class="text-danger"
              *ngIf="registerForm.controls.password.errors?.required">
                Password is required
              </div>
              <div class="text-danger" *ngIf="registerForm.controls.password.errors?.password">
                Password is invalid
              </div>
            </ng-container>
          <input type="password"
          placeholder="Your password"
          formControlName="password"
          class="enter-form"><br/><br/>
          <ng-container *ngIf="registerForm.controls.confirm.touched">
              <div class="text-danger"
              *ngIf="confirmPassword">
                Enter the correct password
              </div>
            </ng-container>
          <input type="password"
          placeholder="Confirm password"
          formControlName="confirm"
          class="enter-form"><br/><br/><br/>
          <button  class="enter-form bold-text"
          [disabled]="registerForm.invalid"
          [style]="register"> Register</button>
        </form>
       </div>
    </div>
  </div>
</div>
