<div class="main">
  <div class="main-image">
    <img src="../../../assets/register.jpg" class="image">
  </div>
  <div class="main-form">
    <div class="main-data">
      <h1 class="bold-text">Register</h1>
      <h3 class="color-title">Please enter your name and e-mail here for the registration.</h3><br/><br/>
        <div>
          <input type="text" placeholder="First name" class="enter-form"><br/><br/>
          <input type="text" placeholder="Second name" class="enter-form"><br/><br/>
          <input type="text" placeholder="E-Mail" class="enter-form"><br/><br/>
          <input type="password" placeholder="Your password" class="enter-form"><br/><br/>
          <input type="password" placeholder="Confirm password" class="enter-form"><br/><br/><br/>
          <button  class="enter-form bold-text">Register</button>
       </div>
    </div>
  </div>
</div>
